@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;

@layer components {
  .input {
    @apply w-full border border-gray-300 rounded-lg px-4 py-2 text-sm
           text-gray-900
           focus:outline-none
           focus:ring-2
           focus:ring-iregistrygreen
           focus:border-iregistrygreen;
  }
}

@tailwind utilities;

/* Import Inter font and set app font */
:root {
  --app-font: 'Inter', ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}

/* ensure full height */
html, body, #root {
  height: 100%;
}

body {
  font-family: var(--app-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ripple Effect */
.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background: #1FA463;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.9s linear;
}