@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ripple Effect */
.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation:ripple-animation 600ms linear;
  background: #1FA463;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}